{% load static %}
<!DOCTYPE html>
<html lang="fr">

<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

    <!--=====FAB ICON=======-->
    <link rel="shortcut icon" href="{% static 'img/logo/title1.svg' %}" type="image/x-icon"/>

    <!--=====CSS=======-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slick-slider.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/aos.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/mobile-menu.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/utility.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

    <!--=====JQUERY=======-->
    <script src="{% static 'js/jquery-3-7-1.min.js' %}"></script>
</head>

<body>
<div class="paginacontainer">
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>
</div>

<!--=====progress END=======-->

<!--=====PRELOADER START=======-->

<div class="sec-preloader">
    <div class="overlay-preloader flex cac vac" id="preloader">
        <div>
            <div class="loader preloader flex vac">
                <svg width="200" height="200">
                    <circle class="background" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)"/>
                    <circle class="outer" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)"/>
                </svg>
                <span class="circle-background"></span>
                <span class="logo animated fade-in"> </span>
            </div>
        </div>
    </div>
</div>

<!--=====PRELOADER START=======-->


<!-- search popup start -->
<div class="search__popup">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="search__wrapper">
                    <div class="search__top d-flex justify-content-between align-items-center">
                        <div class="search__logo">
                            <a href="index.html">
                                <img src="{% static '/img/logo/white-logo.png' %}" alt="vexon"/>
                            </a>
                        </div>
                        <div class="search__close">
                            <button type="button" class="search__close-btn search-close-btn">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                    <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="search__form">
                        <form action="#">
                            <div class="search__input">
                                <input class="search-input-field" type="text"
                                       placeholder="برای جستجو اینجا را تایپ کنید..."/>
                                <span class="search-focus-border"></span>
                                <button type="submit">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.55 18.1C14.272 18.1 18.1 14.272 18.1 9.55C18.1 4.82797 14.272 1 9.55 1C4.82797 1 1 4.82797 1 9.55C1 14.272 4.82797 18.1 9.55 18.1Z"
                                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                        <path d="M19.0002 19.0002L17.2002 17.2002" stroke="currentColor"
                                              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search popup end -->

<!--=====HEADER START=======-->
<header>
    <div class="header-area header-area1 d-none d-lg-block" id="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header-elements">
                        <div class="site-logo">
                            <a href="index.html">
                                <img src="{% static '/img/logo/header-logo1.png' %}" alt="vexon"/>
                            </a>
                        </div>

                        <div class="main-menu-ex main-menu-ex1">
                            <ul>
                                <li>
                                    <a href="index.html">صفحه اصلی <i class="fa-solid"></i></a>
                                </li>

                                <li>
                                    <a href="index.html">مقالات<i class="fa-solid"></i></a>
                                </li>

                                <li class="dropdown-menu-parrent">
                                    <a href="#" class="main1">دسته بندی مقالات <i
                                            class="fa-solid fa-angle-down"></i></a>
                                    <ul>
                                        <li><a href="#">برنامه نویسی</a></li>
                                        <li><a href="#">طراحی سایت</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="{% url 'core:contactus' %}">تماس با ما <i class="fa-solid"></i></a>
                                </li>

                            </ul>
                        </div>

                        <div class="header1-buttons">
                            <div class="vl-search-top">
                                <button class="search-open-btn"><i class="fa-regular fa-magnifying-glass"></i></button>
                            </div>
                            {% if request.user.is_authenticated %}
                                <a class="theme-btn1"> {{ request.user.username }}</a>
                                <a class="theme-btn1" href="{% url 'accounts:logout' %}">خروج </a>
                            {% else %}
                                <a class="theme-btn1" href="{% url 'accounts:login' %}">ورود / ثبت نام</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--=====HEADER END=======-->

<!--=====Mobile header start=======-->
<div class="mobile-header mobile-header-main d-block d-lg-none">
    <div class="container-fluid">
        <div class="col-12">
            <div class="mobile-header-elements">
                <div class="mobile-logo">
                    <a href="404-2.html"><img src="{% static 'img/logo/header-logo1.png' %}" alt="vexon"/></a>
                </div>
                <div class="mobile-nav-icon">
                    <i class="fa-duotone fa-bars-staggered"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-sidebar d-block d-lg-none">
    <div class="logo-m">
        <a href="index.html"><img src="{% static 'img/logo/header-logo1.png' %}" alt="vexon"/></a>
    </div>
    <div class="menu-close">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="mobile-nav">
        <ul>
            <li class="has-dropdown">
                <a href="index.html">صفحه اصلی </a>
            </li>
            <li class="has-dropdown">
                <a href="#">مقالات </a>
            </li>
            <li class="has-dropdown">
                <a href="#">دسته بندی مقالات </a>
                <ul class="sub-menu">
                    <li><a href="#">برنامه نویسی</a></li>
                    <li><a href="#">طراحی سایت</a></li>
                </ul>
            </li>
            <li><a href="{% url 'core:contactus' %}">تماس با ما</a></li>
        </ul>

        <div class="mobile-button">
            {% if request.user.is_authenticated %}
                <a class="theme-btn1">{{ request.user.username }} </a>
                <a class="theme-btn1" href="{% url 'accounts:logout' %}">خروج <i class="fa-solid fa-arrow-left"></i></a>
            {% else %}
                <a class="theme-btn1" href="{% url 'accounts:login' %}">ورود / ثبت نام <i
                        class="fa-solid fa-arrow-left"></i></a>
            {% endif %}
        </div>

        <div class="footer-contact-area1 md:pl-0 pl-20 sm:pl-0 mt-30">
            <h3 class="text-24 leading-26 font-semibold title1 pb-10">تماس با ما</h3>
            <div class="contact-box d-flex">
                <div class="icon">
                    <img src="{% static 'img/icons/footer1-icon1.svg' %}" alt="vexon"/>
                </div>
                <div class="text">
                    <a href="mailto:contact@vexon.com">contact@vexon.com</a>
                </div>
            </div>

            <div class="contact-box d-flex">
                <div class="icon">
                    <img src="{% static 'img/icons/footer1-icon2.svg' %}" alt="vexon"/>
                </div>
                <div class="text">
                    <a href="#">ایران ، تهران ، زعفرانیه<br/>
                        خیابان مهر ، ساختمان هستی</a>
                </div>
            </div>

            <div class="contact-box d-flex">
                <div class="icon">
                    <img src="{% static 'img/icons/footer1-icon3.svg' %}" alt="vexon"/>
                </div>
                <div class="text">
                    <a href="tel:123-456-7890">123-456-7890</a>
                </div>
            </div>
        </div>

        <div class="contact-infos">
            <h3>شبکه های اجتماعی</h3>
            <ul class="social-icon">
                <li>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--=====Mobile header end=======-->


{% block content %}{% endblock %}

<!--===== CTA AREA START=======-->

<div class="cta1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading1-w">
                    <h2>عضویت در خبرنامه</h2>
                    <p class="mt-16">رایگان عضو بشید و اولین نفری باشید که از مقالات جدید مطلع می شوید.</p>
                    <div class="form-area">

                        <form method="post" action="{% url 'core:newsletter' %}">
                            {% csrf_token %}
                            <input type="email" id="email" name="email" placeholder="ایمیل خود را وارد کنید"/>
                            <div class="button">
                                <button class="theme-btn1">عضویت</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="image text-start sm:text-end md:text-end sm:mt-30 md:mt-30">
                    <img src="{% static 'img/hero/hero1-image.png' %}" alt="vexon"/>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===== CTA AREA END=======-->

<!--===== FOOTER AREA START=======-->

<div class="footer1 mt-80 md:mt-40 sm:mt-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'img/logo/header-logo1.png' %}" alt="vexon"/></a>
                </div>
                <div class="heading1 mt-16">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                    <div class="footer-social1">
                        <ul>
                            {% if site_settings.whatsapp_link %}
                                <li>
                                    <a href="{{ site_settings.whatsapp_link }}"><i
                                            class="fa-brands fa-whatsapp"></i></a>
                                </li>
                            {% endif %}

                            {% if site_settings.telegram_link %}
                                <li>
                                    <a href="{{ site_settings.telegram_link }}"><i
                                            class="fa-brands fa-telegram"></i></a>
                                </li>
                            {% endif %}

                            {% if site_settings.instagram_link %}
                                <li>
                                    <a href="{{ site_settings.instagram_link }}"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-50 sm:mb-30 sm:mt-30">
                <div class="footer-list1 mr-80 md:mr-0 sm:mr-0">
                    <h3>دسته بندی ها</h3>
                    <ul>
                        <li><a href="#">دیجیتال مارکتینگ </a></li>
                        <li><a href="#">هوش مصنوعی </a></li>
                        <li><a href="#">استراتژی محتوا </a></li>
                        <li><a href="#">رسانه های اجتماعی </a></li>
                        <li><a href="#">SEO و تجزیه و تحلیل </a></li>
                        <li><a href="#">طراحی و توسعه </a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-list1 mr-50 md:mr-0 sm:mr-0 mb-50 sm:mb-30">
                    <h3>لینک ها</h3>
                    <ul>
                        <li><a href="#">صفحه اصلی </a></li>
                        <li><a href="#">وبلاگ </a></li>
                        <li><a href="#">ویژگی ها </a></li>
                        <li><a href="#">تماس با ما </a></li>
                        <li><a href="#">حریم خصوصی </a></li>
                        <li><a href="#">شرایط خدمات </a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-contact-list1 mb-50 sm:mb-30">
                    <h3>تماس با ما</h3>
                    <div class="footer-contact-box1">
                        <div class="icon">
                            <img src="{% static 'img/icons/footer1-icon1.svg' %}" alt="vexon"/>
                        </div>
                        <div class="text">
                            <a href="#">{{ site_settings.email_us }}</a>
                        </div>
                    </div>

                    <div class="footer-contact-box1">
                        <div class="icon">
                            <img src="{% static 'img/icons/footer1-icon2.svg' %}" alt="vexon"/>
                        </div>
                        <div class="text">
                            <a href="#">{{ site_settings.address }} <br/></a>
                        </div>
                    </div>

                    <div class="footer-contact-box1">
                        <div class="icon">
                            <img src="{% static 'img/icons/footer1-icon3.svg' %}" alt="vexon"/>
                        </div>
                        <div class="text">
                            <a href="#">{{ site_settings.phone_us }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="coppyrihgt1">
            <div class="row coppyrihgt-border">
                <div class="col-md-6">
                    <p class="coppyrihgt">© 1400 ، کپی رایت توسط داود. همه حقوق محفوظ است.</p>
                </div>
                <div class="col-md-6">
                    <div class="conditions">
                        <a href="#"> سیاست حفظ حریم خصوصی </a>
                        <a href="#"> شرایط و ضوابط </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===== FOOTER AREA END=======-->

<!--=== js === -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/fontawesome.js' %}"></script>
<script src="{% static 'js/mobile-menu.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.countup.js' %}"></script>
<script src="{% static 'js/slick-slider.js' %}"></script>
<script src="{% static 'js/circle-progress.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.js' %}"></script>
<script src="{% static 'js/gsap.min.js' %}"></script>
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.js' %}"></script>
<script src="{% static 'js/Splitetext.js' %}"></script>
<script src="{% static 'js/text-animation.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/SmoothScroll.js' %}"></script>
<script src="{% static 'js/jaquery-ripples.js' %}"></script>
<script src="{% static 'js/jquery.lineProgressbar.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>